.titulo {
  font-size: 2rem;
  color: rgb(194, 194, 194);
}

.album {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.cardMark {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  background-color: green;
  width: 10%;
  height: 1rem;
  border-radius: 100%;
}

.btnsCards {
  display: flex;
}

.btnInfos {
  display: flex;
  margin: 1rem auto;
  padding: 0.3rem;
  text-align: center;
  border-radius: 10px;
  border: solid 0.1rem;
  font-size: 2vw;
  background-color: rgb(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

.btnMarker {
  display: flex;
  margin: 1rem auto;
  padding: 0.3rem;
  text-align: center;
  border-radius: 10px;
  border: solid 0.1rem;
  font-size: 2vw;
  background-color: rgb(5, 95, 5, 0.8);
  cursor: pointer;
}

.btnRemove {
  display: flex;
  margin: 1rem auto;
  padding: 0.3rem;
  text-align: center;
  border-radius: 10px;
  border: solid 0.1rem;
  font-size: 2vw;
  background-color: rgb(117, 7, 7, 0.6);
  cursor: pointer;
}

.modalButtons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.btnEdit {
  width: 50%;
  font-size: 2vw;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  background-color: rgb(93, 93, 93);
  cursor: pointer;  
}

.btnDelete {
  width: 50%;
  font-size: 2vw;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  background-color: rgba(137, 2, 2, 0.826);
  cursor: pointer;  
}

@media (max-width: 768px) {
  .btnsCards {
    flex-direction: column-reverse;
  }

  .btnInfos, .btnMarker, .btnRemove, .btnEdit, .btnDelete {
    font-size: 1rem;
  }

  .btnEdit, .btnDelete{
    width: 6rem;
  }

  .modalButtons{
    margin-top: 2rem;
    flex-wrap: wrap;
  }
}
